.team {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 65px;
  background-color: #e2c4ba;
}

.team__titel {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px;
}

.team-list {
  display: flex;
  margin-left: 83px;
}

.team-list__item {
  max-width: 320px;
  margin-right: 38px;
}

.team-list__item:last-child {
  margin-right: 0;
}

.team__descr {
  padding-top: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #533738;
}
